html, body {
  margin: 700;
  padding: 0;
}


h2 {
    font-family: 'Raleway';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}

.logo .img{
    float: center;
    font-size: 60%;
    margin-left: 30px;
    font-family: 'Raleway';
    image-rendering: crisp-edges;
    -ms-flex-item-align: stretch;
    margin-top: 16px;
    margin: 0 auto;
    flex: shrink;
}

a {
  text-decoration: none;
}

header {
  background:#595959;
  /*background-color: hsl(0, 0%, 20% 0.8);*/
  position: fixed;
  width: 100%;
  z-index: 6;
}

.jumbotron {
  height: 800px;
  background-image: url("../images/Cotwoldscent_46387485_Preview.jpeg");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
}

nav {
  margin: 0;
  padding: 20px 0;
}

nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  width: 80px;
}

main {
  text-align: center;
  position: relative;
  top: 80px;
}

main h4 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 50px;
  margin-top: 0px;
  padding-top: 80px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

footer {
  background-color:#595959;
  color: #fff;
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
  
}

footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}



.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;  
  margin-bottom: 20px;      
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 200px;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.supporting a {
  background-color: white;
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #333333; 
}

@media (max-width: 500px) {
  main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
  }

}
